html, body, #wrapper {
    height: 97%;
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
}

body, td, th, input, select, textarea {
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 11px;
}

body {
    background-color: #fcfcfc;
    padding-left: 10px;
    *padding-left: 0; /* IE hack! See frameset for spacing */
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 8px;
}

h1 {
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 1em 0;
    width: 99%;
}

.button_text {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #eee #a9a9a9 #a9a9a9 #eee;
    background: #ebebeb;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    font-size: 11px;
    text-decoration: none;
}

img {
    border: 0;
}

#wrapper {
    margin: 0 auto;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

#wrapper td {
    text-align: center;
}

form {
    margin: 0;
    padding: 0
}

#container {
    position: absolute;
    left: 32.5%;
    top: 21%;
    width: 500px;
    height: 300px;
}

#inner {
    border-radius: 5px;
    background: #141414 url(_itrace/resources/cms-authenticate.jpg) no-repeat;
    border: 1px solid #141414;
    background-repeat: no-repeat;
    width: 320px;
    height: 230px;
    text-align: left;
    margin: auto;
}

#inner, #inner td {
    font-size: 10px;
    color: #B6B0AB;
}

#inner h1 {
    width: 147px;
    color: #B6B0AB;
    margin: 0 0 7px 170px;
    padding: 65px 0 0 0;;
    height: 16px;
}

#inner #form-container {
    float: right;
    padding: 0 34px 0 0;
    height: 144px;
}

#inner #form-container .label-container {
    padding: 0 0 9px 9px;
    text-align: right;
    font-weight: bold;
}

#inner #form-container .input-container {
    padding: 0 0 9px 9px;
    text-align: left;
}

#inner #form-container select#userstore {
    width: 113px;
}

#inner #form-container input#username,
#inner #form-container input#password {
    width: 110px;
}

.version {
    color: #848484;
    margin-top: 10px;
}

input[type="text"],
input[type="password"],
select {
    background-color: #FFFFFF;
    border: 1px solid #B3C3C3;
    padding: 2px;
}

.cms-error {
    color: #8A1F11;
}