.CodeMirror {
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 13px;
}

.CodeMirror-linenumbers {
    background-color: #eee;
}

.CodeMirror-activeline-background {
    background: #eee !important;
}

.CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
}
